<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Карманный СоцКат</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="lib/w3.css"/>
		<link rel="stylesheet" href="lib/w3-theme-blue.css"/>
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="mobile.css"/>
		<script>
		function w3_open() {
			document.getElementById("mySidenav").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidenav").style.display = "none";
		}
		</script>
		<script src="lib/angularjs/angular.min.js"></script>
		<script src='mobile.js'></script>
	</head>
	<body ng-app='myApp' ng-controller='myCtrl'>
		<header class="w3-container w3-card-4 w3-theme w3-margin-bottom">
		  <h2>Карточки:</h2>
		</header>
		
		<!-- список (начало) -->
		<div class="w3-row w3-card w3-margin" ng-repeat="x in list" ng-show="x.id != deleted_id">
			<i class='pointer_cursor fa fa-remove w3-xlarge w3-right' id="{{x.id}}" ng-click="deleteItem(x.id)" title="удалить карточку {{x.id}}"></i>
			<div class="w3-col s3">
			<!--<img class="w3-circle" src="img_avatar.jpg" alt="..." />-->
			</div>
			<div class="w3-col s9 w3-container">
				<h3 class="w3-text-theme">{{x.title}}</h3>
				<p>{{x.content}}</p>
			</div>
		</div>
		<!-- список (конец) -->
		
		<div class="w3-container">
			<h4 class='w3-text-theme w3-panel'>Новая карточка</h4>
			<input ng-model='card.title' class="w3-input w3-border" placeholder='название'/>
			<textarea ng-model='card.content' class="w3-input w3-border" placeholder="содержимое"></textarea>
			<input type='button' ng-click='sendData()' class='w3-btn-block w3-theme' value='Отправить'/>
			<div class='w3-panel'>{{resultMsg}}</div>
		</div>
		
		<footer class="w3-container w3-theme w3-margin-top">
		  <h5>Footer</h5>
		</footer>
	</body>
</html>