<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Карманный СоцКат</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<script src="lib/jquery/jquery-3.1.0.min.js"></script>
		<script src="lib/angularjs/1.5.8/angular.min.js"></script>
		<script src="lib/angularjs/1.5.8/angular-route.min.js"></script>
		<script src='mobile.js'></script>

		<link rel="stylesheet" href="lib/w3.css"/>
		<link rel="stylesheet" href="lib/w3-theme-blue.css"/>
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="mobile.css"/>

		<script>
		function w3_open() {
			document.getElementById("mySidenav").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidenav").style.display = "none";
		}
		</script>
	</head>
	<body ng-app='myApp' ng-controller='myCtrl' id='main'>
		
		<div id="modalWindow" class="w3-modal">
			<div class="w3-modal-content w3-card-8 w3-animate-right">
				<header class="w3-container w3-text-{{ modal.color }}"> 
					<h3>{{ modal.title }}</h3>
				</header>
				<div class='w3-padding'>{{ modal.description }}</div>
				<footer class="w3-row w3-border">
					<div class="w3-col s6 w3-center">
						<button class='w3-btn w3-white w3-btn-block' ng-click='modal.noCallback()'>Нѣтъ</button>
					</div>
					<div class="w3-col s6 w3-center">
						<button class='w3-btn w3-red w3-btn-block' ng-click="modal.yesCallback()">Да</button>
					</div>
				</footer>
			</div>
		</div>

<!-- 		<nav id='sideNav' class="w3-sidenav w3-card-2 w3-white" style="width:40%">
			<div>
				<a href="javascript:void(0)" ng-click="hideSideNav()" class="w3-closenav w3-large w3-red w3-padding">Закрыть <b>&times;</b></a>
				<a>Пункт-1</a>
				<a>Пункт-2</a>
				<a>Пункт-3</a>
			</div>
		</nav> -->

		<nav class="w3-sidenav w3-white w3-card-2" style="display:none" id="mySidenav">
			<a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">Close &times;</a>
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
			<a href="#">Link 4</a>
			<a href="#">Link 5</a>
		</nav>

		<!-- <header class="w3-container w3-card-4 w3-theme w3-margin-bottom">		
			<h3>
				<i ng-click="showSideNav()" id='openNav' class='w3-opennav fa fa-bars w3-hover-white w3-xlarge'></i>
				<span ng-click='showList()' class='pointer_cursor'>{{pageTitle}}:</span>
			</h3>
		</header> -->

		<header class="w3-container w3-teal">
			<span class="w3-opennav w3-xlarge" onclick="w3_open()" id="openNav">&#9776;</span>
			<h1>My Header</h1>
		</header>

		<ng-view></ng-view>
		
		<footer class="w3-container w3-theme">
		  <h6 class='w3-left'>
		  	<span class='w3-left'>Счастье и радость</span>
		  	<i class='fa fa-plus w3-xlarge 3-hover-yellow w3-margin-left pointer_cursor' ng-click='newItem()' title='добавить карточку'></i>
		  </h6>
		</footer>

	    <script>
		    function w3_open() {
		      document.getElementById("main").style.marginLeft = "25%";
		      document.getElementById("mySidenav").style.width = "25%";
		      document.getElementById("mySidenav").style.display = "block";
		      document.getElementById("openNav").style.display = 'none';
		    }
		    function w3_close() {
		      document.getElementById("main").style.marginLeft = "0%";
		      document.getElementById("mySidenav").style.display = "none";
		      document.getElementById("openNav").style.display = "inline-block";
		    }
	    </script>
	</body>
</html>