<!-- Форма добавления (начало) -->
<div class="w3-container">
	<h3 class='w3-text-theme w3-panel'>Создание карточки</h3>
	<input ng-model='card.title' class="w3-input w3-border" placeholder='название'/>
	<textarea ng-model='card.content' class="w3-input w3-border" placeholder="содержимое"></textarea>
	<input type='button' ng-click='createItem()' class='w3-btn-block w3-theme' value='Отправить'/>
	<div class='w3-panel w3-{{resultMsgColor}} w3-padding w3-round w3-center'>{{resultMsgText}}</div>
	<!--<button ng-click="displayResult('success','успех')">успех</button>
	<button ng-click="displayResult('error','неудача')">неудача</button>-->
</div>
<!-- Форма добавления (конец) -->