<!-- Форма добавления (начало) -->
<div class="w3-container">
	<input ng-model='card.title' class="w3-input w3-border" placeholder='название'/>

	<textarea ng-model='card.content' class="w3-input w3-border" placeholder="содержимое"></textarea>

	<input type="file" class="w3-input w3-border w3-margin-bottom" file-model="myFile" />

	<input type='button' ng-click='createItem()' class='w3-btn-block w3-theme' value='Отправить'/>
	<input type='button' ng-click='cancelEdit()' class='w3-btn-block w3-white w3-border' value='Отмена' />

	<div class='w3-panel w3-{{resultMsgColor}} w3-padding w3-round w3-center'>{{resultMsgText}}</div>
</div>
<!-- Форма добавления (конец) -->